./changed/*.dyn_o
./changed/*.dyn_hi
./changed/*.o
./changed/*.hi
./changed/Main
./changed/*.swp
./changed/*.txt
./origin/*.dyn_o
./origin/*.dyn_hi
./origin/*.o
./origin/*.hi
./origin/Main
./origin/*.swp
./origin/*.txt
./origin/stratSimple
./origin/Simple
./origin/Monad

